body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0;
  }
  
  ol, ul {
    padding-left: 30px;
    list-style-type: none;
  }

  p{
    margin: 0 1em;
  }

  li{
    text-align: center;
    margin: 1em;
  }

  footer{
    position: fixed;
    bottom: 0;
    height: 80px;
    color: white;
    background-color: steelblue;
    width: 100%;
  }

  .header{
      font-size: 25px;
      padding-top: 50px;
      padding-bottom: 20px;
      text-align: center;
      background-color: steelblue;
  }

  .chessb{
    height: 30px;
    display: inline-flex;
    width: 100%;
    color: white;
    background-color: dimgray;
    margin: 0;
  }


  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .status{
    text-align: center;
  }

  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game{
      margin-top: 20px;
      display: flex;
      justify-content: center;
  }

  .strong{
    font-weight: bold;
  }

  #switch{
    margin: 1em;
    text-align: center;
  }

  #btn-left{
    border-radius: 10px 0 0 10px;
  }

  #btn-right{
    border-radius: 0 10px 10px 0;
    border-left: 1px solid white;
  }